*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.p-10px {
  padding: 10px;
}

.current {
  border-bottom: 2px solid #20bf6b;
}

.boxLogo {
  display: flex;
  justify-content: center;
}

@keyframes animacionScrollTo {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* ESTILOS CONTACTO */

.boxContacto {
  padding: 50px;
  background-color: #dfe3e7;
  height: 100%;
}

.contacto {
  background: white;
  padding: 20px 30px;
  width: 32%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  background-color: rgba(118, 115, 115, 0.602);
}

.botonEnviarMensaje {
  display: inline-block;
  width: 142px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  padding: 8px 15px;
  background-color: #20bf6b;
  border-radius: 35px;
  border: 2px solid #20bf6b;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

.botonEnviarMensaje:hover {
  color: black !important;
  background-color: transparent;
  border-radius: 6px;
  transition: all 0.2s ease 0s;
  box-shadow: 0px 15px 18px rgba(32, 191, 107, 0.4);
  transform: translateY(-5px);
  background-color: white;
}

.form-control {
  font-size: 14px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
  .boxLogo {
    display: none;
  }
  /* ESTILOS NAVBAR */
  .navbar-brand {
    display: block;
  }
  .nav-link:hover {
    border-bottom: none;
  }
  .nav-item {
    text-align: center;
  }
  .current {
    border-bottom: 2px solid #f5f5f5;
  }
  /* ESTILOS HEADER */
  header {
    height: auto;
  }
  .boxHeader {
    flex-wrap: wrap;
    height: 900px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .boxHeader .textosHeader {
    width: 90%;
    margin-bottom: 100px;
    text-align: left;
    left: 0;
    margin: 0 auto;
  }
  .boxHeader h1 {
    font-size: 40px;
  }
  .boxHeader .textosHeader h1 {
    width: 100%;
  }
  .boxHeader .textosHeader p {
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
  .boxHeader .imgHeader {
    width: 100%;
    top: -40px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgHeader img {
    width: 95%;
  }
  /* ESTILOS FEATURES */
  .boxFeatures {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .features {
    width: 90%;
  }
  .cardFeatures {
    width: 100%;
    margin-bottom: 1rem;
  }
  /* ESTILOS CALL TO ACTIONS */
  .boxCallToActions {
    height: 100%;
  }
  .imgCallToActions {
    width: 100%;
  }
  .contenido {
    width: 80%;
    padding-left: 0px;
  }
  .contenido h3 {
    text-align: center;
  }
  .contenido p {
    width: 100%;
    text-align: center;
  }
  .contenido ul {
    text-align: center;
  }
  .boxCardAnimated {
    position: relative;
    right: 0vh;
    transform: none;
    animation: none;
  }
  .boxCardCallToActions {
    width: 100%;
    margin-top: 42px;
  }

  /* ESTILOS CONTACTO */
  .contacto {
    background: blue;
    width: 90%;
    margin: 30px auto 0 auto;
    border-radius: 30px;
  }
}

@media screen and (max-width: 400px) {
  /* ESTILOS CALL TO ACTIONS */
  .boxCallToActions {
    height: 100%;
  }
  .boxCardAnimated {
    position: relative;
    right: 0vh;
    transform: none;
    animation: none;
  }

  /* ESTILOS CONTACTO */
  .boxContacto {
    padding: 50px 30px;
  }
  .contacto {
    width: 100%;
    margin: 0;
  }
}
