.contenedor {
  height: 290px;
  width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-bottom: 45px;
  box-sizing: content-box;
  color: #10394C;
  border-radius: 10px;
  box-shadow: inset 0 15em 5em -5em #5BD5C9;
}

.contenedor2 {
  height: 200px;
  width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-bottom: 45px;
  box-sizing: content-box;
  color: #10394C;
  border-radius: 10px;
  box-shadow: inset 0 15em 5em -5em #5BD5C9;
}

#NombreApellido {
  display: flex;
  flex-direction: row;
  color: rgb(0, 0, 0);
  padding-left: 5px;
}

#Registrate {
  border-bottom: #10394C;

  margin-bottom: 2px;
}

#boton {
  background-color: #5bd5c9 !important;
  border: 0px;
}

.btnCrear{
  margin: 0px;
}

.message button {
  display: inline-block;
  width: 130px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  padding: 8px 20px;
  background-color: rgb(92, 210, 92);
  border-radius: 35px;
  border: 2px solid rgb(92, 210, 92);
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}
.message button:hover {
  color:black !important;
  background-color: transparent;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 15px 18px rgba(32, 191, 107, 0.4);
  transform: translateY(-6px);
}
.welcome-back {
  display: flex;
  align-items: center;
  text-align: center;
}

.sign-up-btn input[type="button"] {
  display: inline-block;
  width: 110px;
  text-align: center;
  margin-top: 10px;
  color: #5BD5C9;
  padding: 8px 10px;
  background-color: #10394C;
  border-radius: 35px;
  border: 2px solid #DFE3E7;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}
.sign-up-btn input[type="button"]:hover {
  color:black !important;
  background-color: #5BD5C9;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 15px 18px rgba(32, 191, 107, 0.4);
  transform: translateY(-6px);
}