* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
.bodyL {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a78689;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.container-form {
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  transition: all 0.5s ease-out;
}
.welcome-back {
  display: flex;
  align-items: center;
  text-align: center;
}
.message h2 {
  font-size: 1.7rem;
  padding: 1rem 0;
}
.message button {
  padding: 1rem;
  font-weight: 400;
  background-color: #9e3940;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 2rem;
  transition: all 0.2s ease-in;
  color: white;
}
.message button:hover {
  background-color: #ea6c75;
}
.formulario {
  width: 400px;
  padding: 1rem;
  margin: 2rem;
  background-color: rgba(51, 51, 51, 0.602);
  text-align: center;
}
.create-acount {
  padding: 2.7rem;
  font-size: 1.7rem;
}
.icons {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.border-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: solid thin white;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
.border-icon:hover {
  background-color: #9e3940;
  cursor: pointer;
}
.cuenta-gratis {
  padding: 2rem;
}
.formulario input {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: 0.2rem;
  font-size: 0.9rem;
  color: white;
}
.formulario input[type="button"] {
  width: 60%;
  margin: auto;
  border: solid thin white;
  padding: 0.7rem;
  border-radius: 2rem;
  background-color: white;
  font-weight: 600;
  margin-top: 3rem;
  font-size: pointer;
  color: black;
}
.sign-in {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.sign-in.active {
  opacity: 1;
  visibility: visible;
}
.sign-up.active {
  opacity: 0;
  visibility: hidden;
}
