.contenedor {
  height: 340px;
  width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-bottom: 45px;
  box-sizing: content-box;
  color: white;
  border-radius: 10px;
  box-shadow: inset 0 10em 5em -5em #105a7c6e;
}

#registro {
  margin-top: 100px;
}

#NombreApellido {
  display: flex;
  flex-direction: row;
  color: black;
  padding-left: 5px;
}

#Registrate {
  border-bottom: rgb(143, 31, 31);

  margin-bottom: 2px;
}

#boton {
  background-color: rgb(92, 210, 92) !important;
  border: 0px;
}
