.contenedor {
  height: 340px;
  width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-bottom: 0px;
  box-sizing: content-box;
  color: white;
  border-radius: 10px;
}

#password {
  padding-top: 10px;
  color: black;
}

#registro {
  margin-top: 100px;
}

#NombreApellido {
  display: flex;
  flex-direction: row;
  color: black;
  padding-left: 5px;
}

h1 {
  margin-bottom: 0%;
}
